.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;

  // For tablet
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  // For mobile
  @media screen and (max-width: 600px) {
    width: 85vw;
    grid-template-columns: 1fr
  }
}

.pen-title {
  padding: 50px 0 0 0;
  text-align: center;
  letter-spacing: 2px;
}

h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
