@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$black: #121212;
$white: #fff;
$red: #e04f62;
$border: #ebebeb;
$shadow: rgba(0, 0, 0, 0.2);
$button: #bbb;
$hoverColor: #ff7f50;
$iconBorder: #1e152a;
$bigPlus: "\FF0B";
$delete: "\01F6AB";
$weight: 700;

@mixin transition($args...) {
  transition: $args;
}

@mixin cartButton {
  border: 0;
  cursor: pointer;
  display: flex;
  user-select: none;
  background: transparent;
  border-radius: 3px;
  color: $button;
  position: absolute;
}

#card-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;

  &:hover {
    transform: perspective(1px) scale(1.05);
  }
}

.card {
  display: flex;
  flex-direction: row;
  background: $white;
  box-shadow: 0 3px 24px $shadow;
  border-radius: 6px;
  overflow: hidden;
}

.card-link {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;
  &:hover .card-name {
    @include transition(color 0.3s ease);
    color: $red;
  }
  &:hover .card-image {
    @include transition(opacity 0.3s ease);
    opacity: 0.9;
  }
}

.card-image {
  @include transition(opacity 0.3s ease);
  display: block;
  width: 100%;
  object-fit: cover;
}

.article-details {
  padding: 24px;
}

.card-email {
  display: inline-block;
  font-size: 12px;
  font-weight: $weight;
  line-height: 1;
  letter-spacing: 1px;
  padding: 0 0 4px 0;
}

.card-notes {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 1px;
}

.card-name {
  @include transition(color 0.3s ease);
  font-size: 18px;
  line-height: 1.4;
  color: $black;
  font-weight: $weight;
  margin: 0 0 8px 0;
  border-bottom: 2px solid $border;
}

.card-button {
  @media (min-width: 769px) {
    @include cartButton();
    color: $button;
    right: 5px;
    top: 5px;
  }
}

.card-button[disabled] {
  cursor: stop;
  opacity: 0.6;
  pointer-events: none;
}

.card-edit {
  font-size: inherit;

  &:hover,
  &:focus {
    color: $hoverColor;
  }
}

.card-delete {
  font-size: smaller;
  margin: 0px 0px 0px 5px;
  &:before {
    content: $delete;
  }
}

#wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  text-align: center;
  background-color: #91a8a4;
}

.icon:before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid $iconBorder;
  font-size: 40px;
  color: $iconBorder;
}

#bigplus:before {
  content: $bigPlus;
}

@media (max-width: 768px) {
  .card {
    flex-wrap: wrap;
  }
  .card-button {
    @include cartButton();
    justify-content: center;
    right: 16px;
    margin-top: 5px;
  }
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-template-areas: ". main main ." ". main main .";
  }

  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }

  .card-image {
    height: 100%;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  @media (max-width: 768px) {
    .card {
      grid-template-columns: auto;
      grid-template-rows: 192px 1fr;
    }
  }
}
